modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "run", "preview"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 4321
externalPort = 80
